<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.brucecompiler.mapper.SetMealMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO setmeal VALUES(null, #{categoryId}, #{name}, #{price}, #{status}, #{description},
                                  #{image}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    <update id="update">
        UPDATE setmeal
        <set>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="description != null">description = #{description},</if>
            <if test="image != null">image = #{image},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status}, </if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateUser != null">update_user = #{updateUser}</if>
        WHERE id = #{id}
        </set>
    </update>
    <delete id="delete">
        DELETE FROM setmeal WHERE id = #{id}
    </delete>
    <select id="countByCategoryId" resultType="java.lang.Integer">
        SELECT count(id) FROM setmeal WHERE category_id = #{id}
    </select>
    <select id="getByDishId" resultType="com.brucecompiler.entity.SetMeal">
        SELECT s.*
        FROM setmeal s
        JOIN setmeal_dish sd ON s.id = sd.setmeal_id
        JOIN dish d ON sd.dish_id = d.id
        WHERE d.id = #{id}
    </select>
    <select id="pageQuery" resultType="com.brucecompiler.vo.SetMealVO">
        SELECT
            s.*, c.name categoryName
        FROM setmeal s
        LEFT JOIN category c
        ON s.category_id = c.id
        <where>
            <if test="name != null">and s.name like concat('%', #{name}, '%')</if>
            <if test="status != null">and s.status = #{status}</if>
            <if test="categoryId != null">and s.category_id = #{categoryId}</if>
        </where>
        ORDER BY s.create_time DESC
    </select>
    <resultMap id="setmealAndDishMap" type="com.brucecompiler.vo.SetMealVO" autoMapping="true">
        <result column="id" property="id"/>
        <collection property="setmealDishes" ofType="SetMealDish">
            <result column="sd_id" property="id"/>
            <result column="setmeal_id" property="setmealId" />
            <result column="dish_id" property="dishId" />
            <result column="sd_name" property="name" />
            <result column="sd_price" property="price" />
            <result column="copies" property="copies" />
        </collection>
    </resultMap>
    <select id="getByIdWithDish" resultMap="setmealAndDishMap">
        SELECT a.*,
            b.id sd_id,
            b.setmeal_id,
            b.dish_id,
            b.name sd_name,
            b.price sd_price,
            b.copies
        FROM setmeal a
        LEFT JOIN setmeal_dish b
        ON a.id = b.setmeal_id
        WHERE a.id = #{id}
    </select>
    <select id="getById" resultType="com.brucecompiler.entity.SetMeal">
        SELECT * FROM setmeal WHERE id = #{id}
    </select>
</mapper>

